.col-5
  width: 20%
  float: left
  padding: 15px

#sub_footer
  background: #393939
  color: #b7b7b7
  h3
    font-size: 16px
    font-weight: bold
    text-transform: none
    color: #fff !important
  .row 
    padding: 35px 0 25px 0
    margin: 0 0 0 0 !important
    overflow: hidden
  ul
    list-style: none
    padding-inline-start: 0px
  li
    padding: 6px 0 6px 0
    border-bottom: none
    list-style: none
  li p 
    margin: 0
  a
    color: #b7b7b7 !important